@use "/src/SCSS/base/mixins" as * ;
@use "/src/SCSS/base/variables" as * ;

#favouritesPanel {
    position: fixed;
    top: 10px;
    right: 0;
    transform: translateX(100%);
    @include flex($align: start);
    z-index: 10;
    transition: transform 0.5s ease-in-out;
    &.open {
        transform: translateX(0);
    }
}

#favouritesContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(85px, 1fr));
    background-color: $favourite-bg-color;
    max-height: 400px;
    max-width: 220px;
    overflow-y: auto;
    padding: $p20;
    gap: $g10;
    border-radius: 0px 0px 0px 25px;
    filter: $drop-shadow;
    #imgContainer {
        position: relative;
    }
    #removeContainer {
        position: absolute;
        display: grid;
        place-items: center;

        top: -7px;
        right: -7px;

        padding: $p5;
        height: 15px;
        width: 15px;

        background-color: $favourite-primary-color;
        border-radius: $border-radius-round;

        z-index: 10;
        filter: $drop-shadow;
        cursor: pointer;

        transition: transform 0.2s ease, background-color 0.2s ease;
        &:hover {
            transform: scale(1.3);
            background-color: darken($favourite-primary-color, 10%);
        }
        span {
            grid-area: 1/ 1;
            height: 15px;
            width: 3px;
            background-color: $white;
            border-radius: $border-radius-10;
        }
        #removeSpan1 {
            transform: rotate(45deg);
        }
        #removeSpan2 {
            transform: rotate(-45deg);
        }
    }
    img {
        cursor: pointer;
        height: 60px;
        max-width: 85px;
        object-fit: cover;
        border-radius: $border-radius-25;
        filter: $drop-shadow;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
}
#favouritesToggle {
    position: absolute;
    left: -52px;
    @include flex;
    background-color: $favourite-secondary-color;
    padding: $p5;
    border-radius: 10px 0px 0px 10px;
    border-left: 2px solid $favourite-primary-color;
    border-top: 2px solid $favourite-primary-color;
    border-bottom: 2px solid $favourite-primary-color;
    filter: $drop-shadow;
    img {
        cursor: pointer;
        transition: transform 0.2s ease;
        &:hover {
            transform: scale(1.3);
        }
    }
}