@use "/src/SCSS/base/variables" as * ;

:root {
  background-color: $secondary-color;
}
body {
  display: block;  
  min-width: 400px;
  &.opening{
    display: flex;
  }
}
#app {
    padding: 0;
    max-width: none;
}