@use "/src/SCSS/base/mixins" as * ;
@use "/src/SCSS/base/variables" as * ;

#header {
        background-color: $primary-color;
        &.opening {
            border-radius: $border-radius-25;
            border: $border;
            filter: $drop-shadow;
            padding: 40px;
            margin: $m20;
        }
    #container-heading {
        @include flex($justify: stretch);
        padding: $p20;
        gap: $g10;
        @include respond(md) {
            justify-content: center;
        }
        #container-icon {
            @include flex;
            img {
            height: $font-size-lg;
            }
        }
    }
    #container-search {
        padding: $p20;
        @include flex;
        button {
            background-color: $accent-color;
            height: 36px;
            padding: 5px;
            position: absolute;
            transform: translateX(97px);
            border-radius: 0px 4px 4px 0px;
            #searchIcon {
                height: 100%;
            }
        }
    }
}