@use "/src/SCSS/base/mixins" as * ;
@use "/src/SCSS/base/variables" as * ;

#header {
        background-color: $primary-color;
    #container-heading {
        @include flex;
        #container-icon {
            @include flex;
            img {
            height: $font-size-lg;
            }
        }
    }
    #container-search {
        padding: $p20;
        @include flex;
        button {
            background-color: $accent-color;
            height: 36px;
            padding: 5px;
            position: absolute;
            transform: translateX(97px);
            border-radius: 0px 4px 4px 0px;
            #searchIcon {
                height: 100%;
            }
        }
    }
}