@use "/src/scss/base/mixins" as * ;
@use "/src/scss/base/variables" as * ;

#header {
        background-color: $primary-color;
    #container-heading {
        @include flex($justify: stretch);
        padding: $p20;
        gap: $g10;
        @include respond(md) {
            justify-content: center;
        }
        #container-icon {
            @include flex;
            img {
            height: $font-size-lg;
            }
        }
    }
    #container-search {
        padding: $p20;
        @include flex;
        button {
            background-color: $accent-color;
            height: 39.5px;
            padding: 5px;
            position: absolute;
            transform: translateX(115px);
            border-radius: 0px 4px 4px 0px;
            #searchIcon {
                height: 100%;
            }
        }
    }
}