@use "/src/SCSS/base/mixins" as * ;
@use "/src/SCSS/base/variables" as * ;

#container-hero{
    background-color: $secondary-color;
}
#result{
    @include flex($direction: column);
}

#countryContainer {
    padding: $p20;
    border-radius: $border-radius-25;
    margin: $m20;
    max-width: 700px;
    @include flex($direction: column);
    background-color: $primary-color;
    #countryHeader {
    @include flex($direction: column, $justify: space-between);
    width: 100%;
    }
    #capitalContainer{
    @include flex;
    }
}