#container-hero{
    background-color: #EDEDED;
}
#result{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countryContainer {
    padding: 20px;
    border-radius: 25px;
    margin: 20px;
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F6F6F6;
    #countryHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    }
    #capitalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    }
}