@use "/src/SCSS/base/mixins" as * ;
@use "/src/SCSS/base/variables" as * ;

#container-hero{
    background-color: $secondary-color;
    @include flex;
}
#result{
    @include flex($direction: column);
    max-width: 1200px;
    @include respond(md) {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#countryContainer {
    height: 100%;
    max-width: 400px;
    min-width: 320px;
    background-color: $primary-color;

    margin: $m20;
    padding: $p20;

    border: $border;
    border-radius: $border-radius-25;

    filter: $drop-shadow;

    @include flex($direction: column);

    #countryHeader {
        width: 100%;
        gap: $g20;
        @include flex($justify: space-between);

        #heartContainer{
            position: relative;
            width: 40px;
            height: 40px;
            cursor: pointer;
            img {
                position: absolute;
                top: 0;
                left: 0;
            }
            img:nth-child(2) {
                opacity: 0;
            }

            &:not(.active):hover img:nth-child(1) {
                opacity: 0;
            }

            &:not(.active):hover img:nth-child(2) {
                opacity: 1;
            }
        }
    }

    #countryInfoContainer {
        width: 100%;
    }

    #capitalContainer{
    @include infoContainers;
    #capitalIconContainer {
        @include flex;
    }
    }
    #populationContainer{
    @include infoContainers;
    #populationIconContainer {
        @include flex;
    }
    }
    #languageContainer{
    @include infoContainers;
    #languageIconContainer {
        @include flex;
    }
    }
    #currencyContainer{
    @include infoContainers;
    #currencyIconContainer {
        @include flex;
    }
    }
    #weatherContainer {
        padding: $p20;
        margin: $m20;
        @include flex($direction: column);
        p {
            text-align: center;
        }
        #localTime{
            font-style: italic;  
        }
        #weatherText {
            color: $black;
            font-weight: $weigth-600;
        }
        #tips{
            margin: $m20;
            padding: $p20;
            border: $border;
            background-color: rgb(221, 236, 183);
            border-radius: $border-radius-5;
        }
        #weatherDegreeContainer{
            padding: $p20;
            @include flex;
            #weatherIconContainer{
                @include flex;
            }
            #temp {
                font-size: $font-size-lg;
                font-weight: $weigth-600;
                color: $black;
            }
        }
    }
}
#imagesContainer{
    @include flex;
    max-width: 420px;
    flex-wrap: wrap;
    padding: $p20 0;
    gap: $g20;
    @include respond(md) {
        justify-content: stretch;
    }
    h3 {
        @include flex;
        background-color: $accent-color;
        color: $primary-color;
        text-transform: uppercase;
        font-weight: $weigth-700;
        text-align: center;
        max-width: 400px;
        height: 250px;
        width: 90%;
        border-radius: $border-radius-10;
        filter: $drop-shadow;
        @include respond(md) {
                max-width: 170px;
            }
            @include respond(lg) {
                max-width: 200px;
            }
    }
        img {
            width: 90%;
            height: 250px;
            max-width: 400px;
            object-fit: cover;
            border-radius: $border-radius-10;
            filter: $drop-shadow;
            @include respond(md) {
                max-width: 170px;
            }
            @include respond(lg) {
                max-width: 200px;
            }
        }
    }