@use "variables" as *;
* {
    font-family: $family-font;
}

h1{
    font-size: $font-size-lg;
    color: $accent-color;
}

h2{
    font-size: $font-size-lg;
}

h3{
    font-size: $font-size-md;
}

#svg{
    height: 40px;
    width: 40px;
}
#break {
    display: block;
    content: "";
    height: 1px;
    width: 100%;
    background-color: $border-color;
}

input {
    padding: $p10;
    border-radius: $border-radius-5;
    border: $border;
    &::placeholder{
        color: $border-color;
    }
}

button {
    background-color: $accent-color;
    height: 38px;
    padding: 5px;
    #searchIcon {
        height: 100%;
    }
}

#flagContainer{
    height: 70px;
    width: 110px;
    border-radius: $border-radius-5;
    overflow: hidden;
    img{
        width: 100%;
    }
}