/* --- COLOR --- */

$primary-color: #F6F6F6;
$secondary-color: #EDEDED;
$accent-color: #347DF4;
$border-color: #DBDBDB;
$description-text: #919191;

    /* Favourite Icon */
$favourite-primary-color: #F26464;
$favourite-secondary-color: #FFA2A2;

    /* Calcilator Icon */
$calculator-primary-color: #3EA630;
$calculator-seconday-color: #8ECE86;

$black: black;
$white: white;

/* --- TYPOGRAPHY --- */

    /* Font */
$family-font: "Inter", sans-serif;

    /* Fonts-size */
$font-size-xs: 0.875rem; /* Legend */
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.5rem;

    /* Font-weigth */
$weigth-400: 400; /* Reqular */
$weigth-500: 500; /* Medium */
$weigth-600: 600; /* Semi-bold */

/* --- BORDER --- */

    /* Border-radius */
$border-radius-5: 5px;
$border-radius-10: 10px;
$border-radius-20: 20px;
$border-radius-25: 25px;
$border-radius-round: 50%;
    /* Border */
$border: 1px solid $border-color;

/* --- SPACING --- */

    /* Padding */
$p10: 10px;
$p20: 20px;

    /* Margin */
$m10: 10px;
$m20: 20px;

    /* Gap */
$g10: 10px;
$g20: 20px;

/* --- EFFECTS --- */

    /* Shadow */
$drop-shadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.10)); 